/* Profile.css */
.profile {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.profile-text {
    /* Text should take the available space */
    flex-grow: 1;
}

.profile-photo {
    position: absolute;
    top: 40px;
    right: 0;
}

.profile-photo img {
    width: 80px;  /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    object-fit: cover;
}
