/* Skills.css */
.skill {
    margin-bottom: 0.5rem;
    font-size: 0.8em;
}

.rating {
    display: flex;
}

.block {
    width: 34px;
    height: 5px;
    margin-right: 2px;
    background-color: gray;
}

.block.highlighted {
    background-color: blue;
}
